body{
	margin:0;
	font-family:Helvetica;
	background-color: mediumvioletred;
}

#container{
	display:flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction:column;
}

h1{
	color: white;
}

#logo{
	height:80px;
	width:80px;
}